@import './vars';

#back-to-top-arrow {
    padding: 25px;
    position: fixed;
    background-color: $primary;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    display: none;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: $danger;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
    }
}

#theme-info {
    position: fixed;
    left: 0;
    top: 30%;

    a {
        display: block;
        padding: 20px;
        position: relative;
        background-color: $primary;
        
        &:hover {
            color: $danger;
        }

        &:first-of-type {
            border-top-right-radius: 5px;
        }

        &:last-of-type {
            border-bottom-right-radius: 5px;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#themeforest-labels {
    position: fixed;
    bottom: 40px;
    left: 40px;

    
    a {
        font-size: 12px;
        display: block;
        background-color: $secondary;
        padding: 8px 30px;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 15px;
        transition: transform 0.3s;
        box-shadow: 0 5px 10px 2px rgba($color: #000000, $alpha: 0.2);

        &:last-of-type {
            margin-bottom: 0;
        }

        svg {
            height: 20px;
            margin-right: 7px;
        }

        #svg_modeltheme_logo {
            fill: #69de89;
        }

        &:hover {
            transform: translateY(-3px);
        }
        
        .mt-env-logo-svg {
            fill: #82B541;
        }
        
        &.purchase-label:hover{
            background-color: #82B541;
            
            .mt-env-logo-svg {
                fill: $secondary;
            }
        }
        
        &.related-label:hover{
            background-color: #d77864;
        }
    }
}