header {
  font-family: 'Fredoka One', cursive;
  font-size: 17px;
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  z-index: 10;
  
  #header-button {
    margin-left: 45px;
    padding: 20px 40px;
    border-radius: 50px;
  }
}